<div class="row-fluid footer">
  <div class="container">
    <object type="image/svg+xml" data="/images/logo.svg" class="logo-footer">
        <!-- fallback image in CSS -->
    </object>
    <div>
      <div class="moduletable blockListStyle footerSocial">
        <ul class="weblinks blockListStyle footerSocial">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" target="_blank" rel="nofollow" class="facebook siteSocialLink">
              <span> {{ network.network }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div>
      <div class="footer1">Copyright © 2016 West Fire Records. Todos los derechos reservados.</div>
      <div class="footer2">Desarrollo web por <a href="http://guayo.me/contacto">Guayo Mena</a></div>
    </div>
  </div>
</div>
