<div class="main_content_area intro-div">
  <div class="container">
    <div class="articleBody text-center">
      <h2>Westfire Records</h2>
      <p>Somos una familia de músicos y artistas de la Viña Escazú en San José Costa Rica, lo que valoramos más es la presencia de Dios. En medio de nuestra comunidad se están levantando hombres y mujeres con un deseo profundo de expresar la grandeza y el amor del Padre Celestial por medio de la música y otras expresiones artisticas.</p>
      <p>
        <a class="btn btn-primary" title="Conozca a nuestros artitstas" href="/artistas/">Conozca a nuestros Artistas</a>
      </p>
    </div>
  </div>
</div>
