<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %}">
<meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">

<meta itemprop="image" content="{% if page.page_img %}{{page.page_img}}{% else %}{{site.default_img}}{% endif %}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
<!-- <meta name="twitter:site" content="@yahvista"> -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
<!-- <meta name="twitter:creator" content="@yahvista"> -->

  <meta name="twitter:image" content="{% if page.page_img %}{{page.page_img}}{% else %}{{site.default_img}}{% endif %}">


<!--Facebook MetaData -->
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:title" content="{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />

<meta property="og:type" content="website" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:image" content="{% if page.page_img %}{{page.page_img}}{% else %}{{site.default_img}}{% endif %}" />

<meta property="og:locale" content="es_ES" />
<meta property="fb:app_id" content="177919192674511" />
