<!-- <div class="row-fluid slider-container">
  <ul id="slider" class="sy-list"> -->
<div class="container">
  <ul>
    {% for slide in site.data.slides %}
      - {{ slide | debug }} -
      ///{{ slide.first.title }}///
      <li><img src="{{slide.imagen}}" alt="{{slide.title}}" /></li>
    {% endfor %}
  </ul>

  {{ site.data.slides | inspect }}

  <script type="text/javascript">
  (function($){

  jQuery(document).ready(function(){
  jQuery('#slider').slippry({
  //Captions
  captions:false,

  //Pager
  pager:true
  });
  });

  })(jQuery);
  </script>
</div>
