---
layout: default
---
<div class="container">
  <div class="wf_container album clearfix">
    <div class="row">
      <div class="span4">
          <img src="{{page.thumbnail}}" alt="{{page.title}}">
      </div>

      <div class="span8">
          <div class="page-header">
              {% assign artista = site.artistas | where: 'title', page.artista %}
              <h1>{{page.title}} <small> - {{page.artista}} <a href="/artistas/{{artista.url}}">(ver perfil el perfil de {{page.artista}})</a></h1>
          </div>


        {{content}}

          <div class="contact social">
              <ul>
                {% if page.itunes %}
                <li>
                  <a href="{{page.itunes}}" title="{{page.title}} @ iTunes" target="_blank">
                    <i class="fa fa-apple"></i> Comprar en iTunes
                  </a>
                </li>
                {% endif %}
                {% if page.bandcamp %}
                <li>
                  <a href="{{page.bandcamp}}" title="{{page.title}} @ BandCamp" target="_blank">
                          <i class="fa fa-bandcamp"></i> Comprar en BandCamp
                      </a>
                  </li>
                  {% endif %}
              </ul>
          </div>

          {% assign albums = site.albums | where: "artista", page.artista %}
          {% unless albums.size < 1 %}
          <div class="more-content">
            <hr>
            <h2>Más albums de este artista</h2>
            <div class="span12">
              <ul>
                <div class="row">
                  {% for album in albums %}
                    {% unless album.title == page.title %}
                      {% if forloop.index == 4 %}</div><div class="row">{% endif %}
                      <li><a href="{{album.url}}"><img src="{{album.thumbnail}}"/>{{album.title}}</a></li>
                    {% endunless %}
                  {% endfor %}
                </div>
              </ul>
            </div>
          </div>
          {% endunless %}

        </div>
     </div>
   </div>
 </div>
