---
layout: default
---
<div class="text-center">
  <img src="{{page.imagen}}" alt="{{page.title}}" />
</div>
<div class="container artist">
  <div class="page-header">
      <h1 class="inner-section-title">{{page.title}}</h1>
  </div>
  {{content}}
  <ul class="artist-links list-inline">
    {% if page.email %}
      <li><a href="{{page.email}}" target="_blank"><i class="fa fa-envelope"></i></a></li>
    {% endif %}
    {% if page.instagram %}
      <li><a href="{{page.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
    {% endif %}
    {% if page.facebook %}
      <li><a href="{{page.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    {% endif %}
    {% if page.twitter %}
      <li><a href="{{page.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    {% endif %}
    {% if page.youtube %}
      <li><a href="{{page.youtube}}" target="_blank"><i class="fa fa-youtube"></i></a></li>
    {% endif %}
    {% if page.bandcamp %}
      <li><a href="{{page.bandcamp}}" target="_blank"><i class="fa fa-bandcamp"></i></a></li>
    {% endif %}
  </ul>
  <br/>
  <div class="page-header">
      <h2 class="inner-section-title">Albums</h2>
  </div>
  <ul>
    {% assign albums = site.albums | where: "artista", page.title %}
    {% for album in albums %}
      <li><a href="{{album.url}}">{{album.title}}</a></li>
    {% endfor %}
  </ul>
  <br/>
  <div class="page-header">
      <h2 class="inner-section-title">Videos</h2>
  </div>
  <ul>
    {% for video in site.videos %}
      {% if video.artista.entity.payload.attributes.nombre == page.title %}
        <li><a href="{{video.url}}">{{video.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
