---
layout: default
---
<div class="container video">
  <div class="page-header">
      <h1 class="inner-section-title">{{page.title}}</h1>
  </div>

  {{page.video | replace: "http://", "https://"}}

  {% assign videos = "" | split:"|"  %}

  {% assign artist_videos = site.videos | where: "artista", page.artista %}

  {% for other_video in artist_videos  %}
    {% unless other_video.title == page.title %}
      {% assign videos = videos | push: other_video.title %}
    {% endunless %}
  {% endfor %}

  {% if videos.size > 0  %}
    <h2>Más videos de {{page.artista}}</h2>
    <ul class="list-unstyled">
      <div class="row">
        {% for video in site.videos %}
          {% if videos contains video.title %}
            <div class="span3">
              <li>
                <a href="{{video.url}}" class="text-center">
                  <img class="img-responsive" src="{{video.thumbnail}}" alt="{{video.title}}"/>
                  <p>{{video.title}}</p>
                </a>
              </li>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </ul>
  {% endif %}

</div>
